<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BenchRunAdvDiagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <BenchRunAdvDiagnostics.Properties.Settings>
            <setting name="RunDetecorTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunMonoTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunSamplemotorTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAllTests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </BenchRunAdvDiagnostics.Properties.Settings>
    </applicationSettings>
</configuration>